[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
django = {editable = true, path = "/home/pwtail/sof/django"}

[dev-packages]

[requires]
python_version = "3.10"
